<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tweet to Reel</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <meta name="theme-color" content="#ffffff" />
</head>
<body>
  <div class="container">
    <h1>Tweet to Reel</h1>
    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}
    <form method="POST" onsubmit="startProgress()">
      <input type="text" name="url" placeholder="Enter tweet URL" required />
      <select name="mode" required>
        <option value="white">White background reel</option>
        <option value="blur">Blur background reel</option>
        <option value="photo">Photo</option>
      </select>
      <button type="submit">Generate</button>
    </form>
    <div id="status-message" class="status-message">Waiting for input tweet...</div>
    <div id="time-left" class="time-left">Estimated time: -</div>
  </div>
  <footer>
    &copy; {{ year or "2025" }} Tweet to Reel by Costin. All rights reserved.
  </footer>
  <script>
  function startProgress() {
    setTimeout(() => pollProgress(), 300);
  }

  function pollProgress() {
  fetch('/progress')
    .then(res => res.json())
    .then(data => {
      const status = document.getElementById('status-message');
      status.textContent = `Status: ${data.status}`;

      const timeLeft = document.getElementById('time-left');
      timeLeft.textContent = `Est. time left: ${data.time_left}`;

      if (data.status !== "done") {
        setTimeout(pollProgress, 500);
      }
    })
    .catch(() => setTimeout(pollProgress, 1000));
}
</script>
</body>
</html>
